:css
  .carousel-inner > .item > img { margin: 0 auto; }
  
%div{class: "carousel slide", data: { ride: "carousel", interval: "false" }, id: "image-carousel"}
  .carousel-inner
    - active = true 
    - folder.images.each do |image|
      .item{class: (active ? "active" : nil)}
        = image_tag(image.file.url)
        - active = false
  %a{class: "left carousel-control", href: "#image-carousel", data: {slide: "prev"}}    
    %span{class: "glyphicon glyphicon-chevron-left"}

  %a{class: "right carousel-control", href: "#image-carousel", data: {slide: "next"}}    
    %span{class: "glyphicon glyphicon-chevron-right"}
  
= link_to 'Back', folder_path(folder)

